@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --rubik: "Rubik", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --white: #fff;
  --black: #000;
  --gray: #5d5d5d;
  --green: #8bac3e;
  --red: #e7462d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

.header_container,
.nav_list,
.header_button {
  display: flex;
  align-items: center;
}

.header_container {
  justify-content: space-between;
  padding: 20px 0;
}

.nav_list {
  gap: 40px;
}

.nav_link,
.header_login,
.header_register {
  font-family: var(--rubik);
}

.nav_link {
  color: var(--gray);
  text-transform: capitalize;
}

.nav_link_badge {
  position: relative;
}

.nav_link_badge span {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, -100%);
  padding: 5px 12px;
  border-radius: 12px;
  background-color: var(--red);
  color: var(--white);
  font-family: var(--open-sans);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.header_button {
  gap: 24px;
}

.header_login {
  color: var(--black);
  font-weight: 500;
}

.header_register {
  padding: 12px 15px;
  border-radius: 30px;
  background-color: var(--green);
  color: var(--white);
}

.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_text h1 {
  font-family: var(--rubik);
  font-size: 64px;
  text-transform: capitalize;
  color: #8bac3e;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero_text p {
  color: #5d5d5d;
  font-family: var(--rubik);
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero_login {
  padding: 12px 15px;
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
  text-transform: capitalize;
}